.container
  display flex

  header
    padding 10px
    border-bottom 1px solid gray

.sidebar
  display none

  &_open
    display block

.content
  display flex
  flex-direction column
  border-left 1px solid gray