.container
	display flex

	header
		display flex
		justify-content space-between
		padding 10px
		border-bottom 1px solid gray

.sidebar
	display none

	&_open
		display block

.content
	display flex
	flex-direction column
	width 700px
	border-left 1px solid gray